/backend/src/generated/prisma
backend/prisma/client
/backend/prisma/migrations
/backend/dist
/backend/node_modules
/backend/.env
/frontend/Luvies/node_modules
/frontend/Luvies/dist
/frontend/Luvies/.env

/frontend/Luvies/logs
/frontend/Luvies/*.log
/frontend/Luvies/npm-debug.log*
/frontend/Luvies/yarn-debug.log*
/frontend/Luvies/yarn-error.log*
/frontend/Luvies/pnpm-debug.log*
/frontend/Luvies/lerna-debug.log*

/frontend/Luvies/node_modules
/frontend/Luvies/dist
/frontend/Luvies/dist-ssr
/frontend/Luvies/*.local

/frontend/Luvies/.vscode/*
!/frontend/Luvies/.vscode/extensions.json
/frontend/Luvies/.idea
/frontend/Luvies/.DS_Store
/frontend/Luvies/*.suo
/frontend/Luvies/*.ntvs*
/frontend/Luvies/*.njsproj
/frontend/Luvies/*.sln
