{% extends 'core/base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-1">
    <div class="col-span-3">
        <img class="scale-75" src="{{ img_url }}{{ movie.poster_url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="text-gray-600 mb-6 text-3xl">{{ movie.title }}</h1>
        <p class="text-gray-500"><strong>{{ movie.overview }}</strong></p>
        <br>
        <p class="text-gray-500">Released: <strong>{{ movie.release_date }}</strong></p>
        <br>
        <p class="text-gray-500">Runtime: <strong>{{ movie.runtime }} min</strong></p>
        

        <div class="my-6">
            <a class="px-3 py-3  bg-red-300 rounded-xl" href="{% url 'tags:tag_creation' movie.id %}">Create a tag!</a>
        </div>
    
        
</div>

{% endblock %}